<!--
<% data = include("../components/parseData") %>
<% success = include("../components/parseSuccess") %>
<% message = include("../components/parseMessage") %>
<% err = include("../components/parseErr") %>
<% msg = include("../components/parseMsg") %>
-->
<!--
<% profile_photo = data && data.content && data.content.profile_photo ? data.content.profile_photo : "" %>
<% full_name = data && data.content && data.content.full_name ? data.content.full_name : "" %>
<% HTML_resume = data && data.content && data.content.HTML_resume ? data.content.HTML_resume : "" %>
<% HTML_head_first = data && data.content && data.content.HTML_head_first ? data.content.HTML_head_first : "" %>
<% HTML_head_last = data && data.content && data.content.HTML_head_last ? data.content.HTML_head_last : "" %>
<% HTML_body_first = data && data.content && data.content.HTML_body_first ? data.content.HTML_body_first : "" %>
<% HTML_body_last = data && data.content && data.content.HTML_body_last ? data.content.HTML_body_last : "" %>
<% HTML_head = data && data.content && data.content.HTML_head ? data.content.HTML_head : {} %>
<% contact = data && data.content && data.content.contact ? data.content.contact : {} %>
<% personal = data && data.content && data.content.personal ? data.content.personal : {} %>
<% skills = data && data.content && data.content.skills ? data.content.skills : [] %>
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- *** first in head - start *** -->
    <meta id="html_head_first" value="<%= HTML_head_first %>">
    <!-- googl analytics - start --><!-- Google tag (gtag.js) --><!-- googl analytics - end -->
    <!-- Google Tag Manager -->
    <!-- End Google Tag Manager -->
    <!-- *** first in head - end *** -->

    <meta charset="utf-8" />
    <!-- *** opent graph(og) in head - start *** -->
    <!-- <% JSON.parse(HTML_head.open_graph).forEach(e => { %> -->
    <meta property='<%= e[0] %>' content='<%= e[1] %>' />
    <!-- <% }); %> -->

    <!-- *** opent graph(og) in head - end *** -->
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="<%= HTML_head.description %>" />
    <meta name="keywords" content="<%= HTML_head.keywords %>" />
    <meta name="theme-color" content="<%= HTML_head.theme_color %>" />
    <link rel="icon" href="<%= HTML_head.favicon %>" />
    <link rel="apple-touch-icon" href="<%= HTML_head.favicon %>" />
    <link href="/APP/bootstrap@5.3.0/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/APP/styleRangeskill.css">
    <link rel="stylesheet" href="/APP/font/font.css">
    <!--
           manifest.json provides metadata used when your web app is installed on a
           user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
         -->
    <link rel="manifest" href="/manifest.json" />
    <title>
        <%= HTML_head.title %>
    </title>
    <!-- *** last in head - start *** -->
    <meta id="html_head_last" value="<%= HTML_head_last %>">
    <!-- *** last in head - end *** -->
</head>

<body class="container-md vh-100">
    <!-- *** first in body - start *** -->
    <input type="hidden" id="html_body_first" value="<%= HTML_body_first %>">
    <!-- Google Tag Manager (noscript) --><!-- End Google Tag Manager (noscript) -->
    <!-- *** first in body - end *** -->

    <!-- body - start -->
    <div dir="rtl">
        <div class="row py-4">
            <div class="col-12 col-md-3 rounded-5 py-3"
                style="min-height: 100vh; background-image: linear-gradient(120deg, #4ab3e3a6, #cdd55da6);">
                <div class="text-center w-100 p-2">
                    <img src="<%= profile_photo %>" alt="" class="rounded-5"
                        style="max-height: 250px; max-width: 100%;">
                </div>
                <h3 class="text-center fw-bolder m-4" style="color: #181dad;" lang="fa">
                    <%= full_name %>
                </h3>
                <div class="my-4">
                    <!-- <% let hasContact = false; %> -->
                    <!-- <% for(let key in contact) if(contact[key].length) hasContact = true; %> -->
                    <!-- <% if(hasContact){ %> -->
                    <h4 class="text-center" lang="fa">راه‌های ارتباطی</h4>
                    <hr>
                    <!-- <% } %> -->
                    <!-- <% if(contact.phone){ %> -->
                    <div class="d-flex justify-content-between flex-wrap fw-bolder my-1">
                        <span lang="fa">شماره تماس: </span>
                        <small class="text-start">
                            <a href="tel:<%= contact.phone %>" dir="ltr"
                                class="text-primary link-dark text-decoration-none">
                                <%= contact.phone %>
                            </a>
                        </small>
                    </div>
                    <!-- <% } %> -->
                    <!-- <% if(contact.email){ %> -->
                    <div class="d-flex justify-content-between flex-wrap fw-bolder my-1">
                        <span lang="fa">ایمیل: </span>
                        <small class="text-start">
                            <a href="mailto:<%= contact.email %>" dir="ltr"
                                class="text-primary link-dark text-decoration-none">
                                <%= contact.email %>
                            </a>
                        </small>
                    </div>
                    <!-- <% } %> -->
                    <!-- <% if(contact.website){ %> -->
                    <div class="d-flex justify-content-between flex-wrap fw-bolder my-1">
                        <span lang="fa">آدرس وب: </span>
                        <small class="text-start">
                            <a href="<%= contact.website %>" dir="ltr"
                                class="text-primary link-dark text-decoration-none">
                                <%= contact.website %>
                            </a>
                        </small>
                    </div>
                    <!-- <% } %> -->
                    <!-- <% if(contact.location){ %> -->
                    <div class="d-flex justify-content-between flex-wrap fw-bolder my-1">
                        <span lang="fa">محل سکونت: </span>
                        <small class="text-start">
                            <%= contact.location %>
                        </small>
                    </div>
                    <!-- <% } %> -->
                    <!-- <% if(contact.other) contact.other.forEach(c=>{ %> -->
                    <div class="d-flex justify-content-between flex-wrap fw-bolder my-1">
                        <span lang="fa">
                            <%= c[0] %>:
                        </span>
                        <small class="text-start">
                            <a href="<%= c[1] %>" dir="ltr" class="text-primary link-dark text-decoration-none">
                                <%= c[1] %>
                            </a>
                        </small>
                    </div>
                    <!-- <% }) %> -->
                </div>
                <div class="my-4">
                    <!-- <% let hasPersonal = false; %> -->
                    <!-- <% for(let key in personal) if(personal[key].length) hasPersonal = true; %> -->
                    <!-- <% if(hasPersonal){ %> -->
                    <h4 class="text-center" lang="fa">اطلاعات شخصی</h4>
                    <hr>
                    <!-- <% } %> -->
                    <!-- <% if(personal.birth_date){ %> -->
                    <div class="d-flex justify-content-between flex-wrap fw-bolder my-1">
                        <span lang="fa">تاریخ تولد: </span>
                        <small class="text-start">
                            <%= personal.birth_date %>
                        </small>
                    </div>
                    <!-- <% } %> -->
                    <!-- <% if(personal.gender){ %> -->
                    <div class="d-flex justify-content-between flex-wrap fw-bolder my-1">
                        <span lang="fa">جنسیت: </span>
                        <small class="text-start">
                            <%= personal.gender %>
                        </small>
                    </div>
                    <!-- <% } %> -->
                    <!-- <% if(personal.marital){ %> -->
                    <div class="d-flex justify-content-between flex-wrap fw-bolder my-1">
                        <span lang="fa">وضعیت تاهل: </span>
                        <small class="text-start">
                            <%= personal.marital %>
                        </small>
                    </div>
                    <!-- <% } %> -->
                </div>
            </div>
            <div class="col-12 col-md-9 p-2 py-md-0 p-md-2">
                <!-- <% if(skills.length) { %> -->
                <header class="rounded-5 mb-3 p-3"
                    style="background-image: linear-gradient(120deg, #4ab3e33e, #cdd55d6d);">
                    <!-- <% skills.map((s,i)=>{ %> -->
                    <div class="row justify-content-between align-items-center m-1">
                        <div class="col-3">
                            <span class="text-secondary" lang="fa">نام مهارت: </span>
                            <span class="p-0">
                                <%= s[0] %>
                            </span>
                        </div>
                        <div class="col-9 row justify-content-end">
                            <span class="col-3 text-secondary" lang="fa">سطح تسلط: </span>
                            <div class="col-9 wrapper" dir="ltr">
                                <input type="range" name="skills[<%= i + 1 %>][1]" min="0" max="5" value="<%= s[1] %>"
                                    step="1" disabled />
                            </div>
                        </div>
                    </div>
                    <!-- <% if((skills.length-1 )!= i){ %> -->
                    <hr>
                    <!-- <% } %> -->
                    <!-- <% }) %> -->
                </header>
                <!-- <% } %> -->
                <main class="mt-3 px-1 px-md-2" lang="fa">
                    <input type="hidden" id="html_resume" value="<%= HTML_resume %>">
                </main>
            </div>
        </div>
    </div>
    <!-- body - end -->

    <!-- *** last in body - start *** -->
    <input type="hidden" id="html_body_last" value="<%= HTML_body_last %>">
    <!-- *** last in body - end *** -->
    <!-- scripts- start -->
    <script src="/APP/bootstrap@5.3.0/bootstrap.bundle.min.js"></script>
    <script src="/APP/script.js"></script>
    <!-- scripts- end -->
</body>

</html>